*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height:100%;
}

li{
    list-style: none;
}


/*INDEX.PHP*/
/*header*/
header{
    padding:200px 0px;
    background-color:black;
    color:white;
}
#DL {
    margin-top:5px;
    font-weight:bold;
}
#hiatus{
    color:orange;
}
#header_text{
    height:150px;
}

/*video*/
#video{
    width:100%;
    background-color:black;
    padding-bottom:20px;
}

/*music*/
#music{
    margin-top:50px;
}

#music-carousel{
    margin:20px auto 50px;
    text-align:center;
    background-color:black;
}

#music-carousel img{
    height:300px;
    width:300px;
}

/*contact*/
textarea{
    resize:none;
}
.incoming{
    font-weight:bold;
}


#upcoming_events{
    height:40%;
}
#previous_events{
    height:40%;
}
.scroll{
    height:75%;
    overflow-y:auto;
    background-color:rgb(247, 248, 249);
    border-radius: 10px;
    padding:5px;
}

.validation{
    border: 0.5px solid red;
    box-shadow: 0px 0px 5px red;
}
.disabled{
    
}



/*FOOTER STYLING*/
footer{
    margin-top:15px;
    border-top:1px solid black;
    clear:both;
    padding:20px 0px;
}
#social_links{
    font-size:30px;
}
#social_links a{
    color:rgb(46, 47, 48);
    margin:0px 10px;
    padding:0px 4px;
}
#social_links a:hover{
    color:black;
}